/* 共通CSSに切り出してmarginとgapのみ指定 */
.auth-wrapper {
    margin: 93px auto 180px;
    gap: 24px;
}
/* ここまで */

.auth-wrapper h2 {
    font-size: 1.75rem;
    margin: 0 auto 40px;
}

.password-reset-description {
    margin:0;
    text-align: center;
}

.auth-form {
    margin-top: 16px;
}

/* 共通CSSに切り出してbuttonタグのborderだけ個別に指定 */
.btn {
    border: none;
    margin-top: 40px;
}
/* ここまで */

.form-password2 {
    margin-top: 35px;
}