.timers-page {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: center;
    gap: 84px;
    align-items: stretch;
    flex: 1;
}

.left-disp, .right-disp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.timers-page h3 {
    text-align: center;
    font-size: 1.5rem;
}

.focus-timers, .other-timers {
    border: 1px solid var(--color-frame);
    padding: 13px 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

#focusTimerList, #otherTimerList {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1;
    overflow-y: auto;  
    min-height: 0;
    padding: 5px;
    width: 498px;
}

/* タイマーカード内の配置 */
.oneTimer {
    display: grid;
    grid-template-columns: 1fr 80px 50px;
    align-items: center;
    padding-right: 10px;
    transform: scale(1);
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.oneTimer:hover {
    transform: scale(1.02);
}

.oneTimer p {
    margin: 0;
}

.duration {
    padding-right: 12px;
    text-align: right;
}

.delete-btn {
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.deleteIcon {
    font-size: 1.75rem;
    margin-top: 2px;
}



/* プラスボタン */
.add-btn {
    display: flex;
    justify-content: center;
}

#focusTimerAdd, #otherTimerAdd {
    border: none;
    background: var(--color-primary);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 0;
    cursor: pointer;
}

.addIcon {
    font-size: 2.625rem;
}

/* モーダルのCSS */
.modal-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

[hidden]{
  display:none !important;
}

.modal-title {
    text-align: center;
}

.modal-btn {
    margin: 20px 0;
}

#beforeDelete {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#formError,#deleteError {
    text-align: center;
    color: var(--color-warning);
}

.empty {
    text-align: center;
    color: var(--color-text-muted);
}