{% extends "common/base.html" %}
{% load static %}

{% block title %}ログイン{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <!-- ログイン失敗時のエラー（ユーザー名・パスワード不一致）-->
    {% if form.non_field_errors %}
        <ul class="error-list">
        {% for error in form.non_field_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div>
        {% for error in form.username.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        {% for error in form.password.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="auth-wrapper">
        <h2>ログイン</h2>
        
        <div class="auth-form">
            <label for="login-email">メールアドレス</label>
            <input type="email" name="username" id="login-email" class="{% if errors.email %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if errors.email %}
            <p class="error-message">{{ errors.email }}</p>
            {% endif %}
        </div>

        <div class="auth-form">
            <label for="login-password">パスワード</label>
            <input type="password" name="password" id="login-password" class="{% if errors.email %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if errors.password %}
            <p class="error-message">{{ errors.password }}</p>
            {% endif %}
        </div>

        <div>
            <button class="btn" type="submit">ログイン</button>
        </div>

        <p class="forgot-password">
            <a href="{% url 'users:password-reset' %}">パスワードを忘れた場合はこちら</a>
        </p>
    </div>
</form>
{% endblock %}