{% extends "common/base.html" %}
{% load static %}

{% block title %}パスワード変更完了{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>パスワード変更完了</h2>

    <p class="password-reset-description">
        パスワードの再設定が完了しました。
    </p>
    <p class="password-reset-description">
        新しいパスワードでログインしてください。
    </p>

    <div>
        <a href="{% url 'users:login' %}" class="btn">
            ログイン画面へ
        </a>
    </div>
</div>
{% endblock %}
