{% extends "common/base.html" %}
{% load static %}

{% block title %}パスワード再設定メール送信完了{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>メール送信完了</h2>

    <p class="password-reset-description">
        パスワード再設定用のメールを送信しました。
    </p>
    <p class="password-reset-description">
        メールに記載されたリンクから、<br>
        パスワードの再設定を行ってください。
    </p>

    <div>
        <a href="{% url 'users:login' %}" class="btn">
            ログイン画面へ
        </a>
    </div>
</div>
{% endblock %}
