{% extends "common/base.html" %}
{% load static %}

{% block title %}パスワード再設定{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'users:password-reset' %}">
{% csrf_token %}

    <div class="auth-wrapper">
        <h2>パスワード再設定</h2>

        <p class="password-reset-description">
            登録したメールアドレスを入力して、<br>
            パスワード再設定ボタンをクリックしてください。
        </p>
        <p class="password-reset-description">
            送信したメールに記載されたリンクから、<br>
            パスワードを再設定することができます。
        </p>

        <div class="auth-form">
            <label for="password-reset-email">メールアドレス</label>
            <input type="email" name="email" id="password-reset-email"
             class="{% if form.email.errors %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if form.email.errors %}
                {% for err in form.email.errors %}
                    <p class="error-message">{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        
        {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
                <p class="error-message">{{ err }}</p>
            {% endfor %}
        {% endif %}

        <div>
            <button class="btn" type="submit">パスワード再設定</button>
        </div>
    </div>
</form>
{% endblock %}