{% extends "common/base.html" %}
{% load static %}

{% block title %}新しいパスワード設定{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>新しいパスワード設定</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <div class="auth-form">
                <label for="{{ form.new_password1.id_for_label }}">
                    新しいパスワード
                </label>
                {{ form.new_password1 }}
                {% for err in form.new_password1.errors %}
                    <p class="error-message">{{ err }}</p>
                {% endfor %}
            </div>

            <div class="auth-form form-password2">
                <label for="{{ form.new_password2.id_for_label }}">
                    新しいパスワード（確認）
                </label>
                {{ form.new_password2 }}
                {% for err in form.new_password2.errors %}
                    <p class="error-message">{{ err }}</p>
                {% endfor %}
            </div>

            {% if form.non_field_errors %}
                {% for err in form.non_field_errors %}
                    <p class="error-message">{{ err }}</p>
                {% endfor %}
            {% endif %}

            <div>
                <button type="submit" class="btn">
                    パスワードを変更する
                </button>
            </div>
        </form>

    {% else %}
        <p class="error-message">
            このパスワード再設定リンクは無効です。<br>
            もう一度、パスワード再設定を行ってください。
        </p>

        <div>
            <a href="{% url 'users:password-reset' %}" class="btn">
                パスワード再設定へ
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
