{% extends "common/base.html" %}
{% load static %}

{% block title %}新規登録{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'users:signup' %}">
{% csrf_token %}

    <div class="auth-wrapper">
        <h2>新規登録</h2>

        <div class="auth-form">
            <label for="signup-email">メールアドレス</label>
            <input type="email" name="email" id="signup-email"
             class="{% if errors.email %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if errors.email %}
            <p class="error-message">{{ errors.email }}</p>                
            {% endif %}
        </div>

        <div class="auth-form">
            <label for="signup-username">ユーザ名</label>
            <input type="text" name="username" id="signup-username"
             class="{% if errors.username %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する（ユーザ名はエラー必要ないかも） -->
            {% if errors.username %}            
            <p class="error-message">{{ errors.username }}</p>
            {% endif %}
        </div>

        <div class="auth-form">
            <label for="signup-password1">パスワード</label>
            <input type="password" name="password1" id="signup-password1"
             class="{% if errors.password1 %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if errors.password1 %}            
            <p class="error-message">{{ errors.password1 }}</p>
            {% endif %}
        </div>

        <div class="auth-form">
            <label for="signup-password2">パスワード（確認用）</label>
            <input type="password" name="password2" id="signup-password2"
             class="{% if errors.password2 %}is-error{% endif %}" required>
            <!-- エラーメッセージの仕様が決まったら編集する -->
            {% if errors.password2 %}            
            <p class="error-message">{{ errors.password2 }}</p>
            {% endif %}
        </div>

        <div>
            <button class="btn" type="submit">新規登録</button>
        </div>
    </div>
</form>
{% endblock %}