{% extends "common/base.html" %}
{% load static %}

{% block title %}タイマー作成・一覧{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/timers/timers.css' %}">
{% endblock %}

{% block content %}
<!-- 最初のdivはauth-wrapperと共通化して問題ないかを調べる -->
<div class="timers-page">
    
    <!-- 左画面 -->
    <div class="left-disp">

        <h3>集中</h3>
        <section class="focus-timers">
            <div id="focusTimerList">
            <!-- ここにバックエンドから取得した「集中」のタイマーを入れる -->

            </div>
            <div class="add-btn">
            <button id="focusTimerAdd" type="button">
                <iconify-icon icon="uil:plus" class="addIcon"></iconify-icon>
            </button>
            </div>
        </section>
    </div>

    <!-- 右画面 -->
    <div class="right-disp">
        
        <h3>休憩・リフレッシュ</h3>
        <section class="other-timers">
            <div id="otherTimerList">
            <!-- ここにバックエンドから取得した「休憩・リフレッシュ」のタイマーを入れる -->

            </div>
            <div class="add-btn">
            <button id="otherTimerAdd" type="button">
                <iconify-icon icon="uil:plus" class="addIcon"></iconify-icon>
            </button>
            </div>
        </section>

    </div>
    
</div>

<!-- タイマー作成・編集モーダル -->
<section id="modal" class="modal" hidden>
    <div id="modalOverlay">
        <div id="modalArea">
          
            <div class="modal-close">
                <button type="button" id="closeBtn" class="modal-close-btn">×</button>
            </div>
            <!-- 上の削除ボタンまでは共通 -->
            <!-- 作成・編集用 -->
            <section id="createUpdateContent" class="modal-section">
                <h2 id="timerModalTitle" class="modal-title">タイマー作成</h2>

                <div class="modal-form">
                    <label for="timerNameInput" class="modal-label">タイマー名</label>
                    <input id="timerNameInput" class="modal-input" name="timer_name">
                </div>
                <div class="modal-form">
                    <label for="durationInput" class="modal-label">時間（分）</label>
                    <input type="number" min="1" step="1" id="durationInput" class="modal-input" name="duration_sec">
                </div>
                <div class="modal-form">
                    <label for="categoryInput" class="modal-label">カテゴリー</label>
                    <select id="categoryInput" class="category-input" name="category">
                        <!-- ここはJSでバックエンドから受け取ったcategoriesをoptionとして入れる -->
                    </select>
                </div>
                <div class="modal-form">
                    <label for="soundInput" class="modal-label">サウンド</label>
                    <select id="soundInput" class="modal-input" name="sound_id">
                        <!-- ここはJSでバックエンドから受け取ったsoundsをoptionとして入れる -->
                        
                    </select>
                </div>
                <div>
                    <button class="btn modal-btn" type="button" id="timerSendBtn">作成</button>
                </div>
                <p id="formError" hidden>
                    <!-- エラーがあった時のメッセージを入れる -->
                </p>
            </section>
            <!-- ここまで作成・編集用 -->

            <!-- 削除用 -->
            <section id="deleteContent" class="modal-section" hidden>
                <h2 id="timerDeleteModalTitle" class="modal-title">タイマー削除</h2>
                <!-- 削除前の確認用表示 -->
                <div id="beforeDelete" hidden>
                    <p class="delete-description">このタイマーを削除します。</p>

                    <div>
                        <p id="deleteTimerName"></p>
                        <p id="deleteTimerDuration"></p>
                        <p id="deleteTimerCategory"></p>
                    </div>

                    <div>
                        <button class="btn modal-btn" type="button" id="timerDeleteBtn">削除</button>
                    </div>
                    <p id="deleteError" hidden></p>
                </div>
                
                <!-- 削除完了表示 -->
                <div id="afterDelete" hidden>
                    <p class="deleted-description">タイマーを削除しました。</p>
                    <div>
                        <button class="btn modal-btn" type="button" id="deletedConfirm">閉じる</button>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<!-- JSファイル -->
 <script src="{% static 'js/timers/timers.js' %}" defer></script>

{% endblock %}